body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-lato: Lato;
  --paragraph: "Product Sans";
  --font-abeezee: ABeeZee;
  --body-m: Rubik;
  --font-inter: Inter;

  /* font sizes */
  --body-m-size: 16px;
  --paragraph-size: 18px;
  --font-size-6xl: 25px;
  --font-size-xl: 20px;
  --h3-size: 40px;
  --h6-size: 24px;
  --font-size-13xl: 32px;
  --font-size-30xl-6: 49.6px;
  --font-size-11xl: 30px;
  --font-size-lgi-6: 19.6px;
  --font-size-mid-4: 17.4px;
  --h2-size: 50px;
  --font-size-lgi: 19px;
  --h5-size: 28px;
  --font-size-3xl: 22px;
  --font-size-17xl: 36px;
  --font-size-52xl-5: 71.5px;
  --font-size-24xl: 43px;
  --font-size-38xl: 57px;
  --font-size-sm: 14px;
  --font-size-7xl: 26px;
  --font-size-mini: 15px;
  --font-size-10xl: 29px;

  /* Colors */
  --white: #fff;
  --infinite-night: #080b35;
  --p1-deep-periwinkle: #7784b9;
  --color-steelblue-100: #475e8f;
  --color-lightsteelblue: #b0b3cf;
  --grayish-blue: #67727e;
  --color-slategray-100: #5a677a;
  --color-silver-100: #c8c8c8;
  --color-silver-200: #c7c7c7;
  --color-black: #000;
  --color-gray-100: #fbfbfb;
  --color-gray-200: #0a192f;
  --color-gray-300: #04031c;
  --color-darkslateblue-100: #154175;
  --schiava-blue: #152a5d;
  --color-darkslateblue-200: #0f1a46;
  --deadly-depths: #0e1946;
  --color-darkslategray-100: #3d4d61;
  --color-darkslategray-200: #333;
  --color-lavender-100: #e9f0ff;
  --color-lavender-200: #e2e5ff;
  --color-lavender-300: #d4deff;
  --color-coral: #ff8540;
  --color-chocolate-100: #cc520d;
  --color-gainsboro-100: #e7e7e7;
  --color-gainsboro-200: #e6e6e6;
  --color-gainsboro-300: #e3e5e8;
  --color-gainsboro-400: #dedbe0;
  --color-gainsboro-500: #d9d9d9;
  --color-mediumblue-100: #273beb;
  --color-mediumblue-200: #054bfc;
  --color-lavenderblush: #fff0f0;
  --color-lightblue: #c2dcf3;
  --color-mediumpurple-100: #ab7ae8;
  --color-mediumpurple-200: #9161ce;
  --color-darkgray: #9aa6b8;
  --color-dodgerblue: #3685fd;
  --color-ghostwhite: #f6f5fa;
  --color-lightslategray: #758598;
  --color-floralwhite-100: #fffbee;
  --color-floralwhite-200: #fff9ee;
  --text-disable: #ccc;
  --color-lightgray-100: #c9cccf;
  --color-blue: #0a27fb;
  --color-whitesmoke-100: #eff0f2;

  /* Gaps */
  --gap-7xl: 26px;
  --gap-33xl: 52px;
  --gap-40xl-5: 59.5px;
  --gap-11xl: 30px;
  --gap-xl: 20px;
  --gap-mid: 17px;
  --gap-119xl: 138px;
  --gap-3xl: 22px;
  --gap-13xl: 32px;
  --gap-base: 16px;
  --gap-29xl: 48px;
  --gap-5xl: 24px;
  --gap-101xl: 120px;
  --gap-2xl-1: 21.1px;
  --gap-2xl-8: 21.8px;
  --gap-sm-1: 13.1px;
  --gap-61xl: 80px;
  --gap-21xl: 40px;
  --gap-8xs: 5px;
  --gap-3xs: 10px;
  --gap-71xl: 90px;
  --gap-26xl: 45px;
  --gap-lg: 18px;
  --gap-18xl: 37px;
  --gap-4xl: 23px;
  --gap-2xs: 11px;
  --gap-81xl: 100px;
  --gap-6xl: 25px;
  --gap-31xl: 50px;
  --gap-xs: 12px;
  --gap-5xs: 8px;
  --gap-84xl-4: 103.4px;
  --gap-46xl: 65px;
  --gap-9xs: 4px;
  --gap-lgi: 19px;

  /* Paddings */
  --padding-81xl: 100px;
  --padding-xl: 20px;
  --padding-12xs-2: 0.2px;
  --padding-23xl: 42px;
  --padding-46xl: 65px;
  --padding-4xs: 9px;
  --padding-4xl: 23px;
  --padding-8xs: 5px;
  --padding-78xl: 97px;
  --padding-176xl: 195px;
  --padding-9xl: 28px;
  --padding-smi: 13px;
  --padding-mini: 15px;
  --padding-8xl: 27px;
  --padding-40xl: 59px;
  --padding-10xl: 29px;
  --padding-79xl: 98px;
  --padding-80xl: 99px;
  --padding-5xl: 24px;
  --padding-30xl: 49px;
  --padding-18xl: 37px;
  --padding-lgi-1: 19.1px;
  --padding-mid-9: 17.9px;
  --padding-lgi: 19px;
  --padding-lg: 18px;
  --padding-2xl-9: 21.9px;
  --padding-mid-5: 17.5px;
  --padding-mid-4: 17.4px;
  --padding-4xs-7: 8.7px;
  --padding-mid: 17px;
  --padding-13xl: 32px;
  --padding-12xs-1: 0.1px;
  --padding-52xl: 71px;
  --padding-26xl: 45px;
  --padding-25xl: 44px;
  --padding-16xl: 35px;
  --padding-2xl: 21px;
  --padding-21xl: 40px;
  --padding-24xl: 43px;
  --padding-3xl: 22px;
  --padding-8xl-5: 27.5px;
  --padding-base: 16px;
  --padding-base-5: 16.5px;
  --padding-28xl: 47px;
  --padding-11xl: 30px;
  --padding-131xl: 150px;
  --padding-48xl: 67px;
  --padding-56xl: 75px;
  --padding-7xl: 26px;
  --padding-44xl: 63px;
  --padding-3xs: 10px;
  --padding-131xl-5: 150.5px;
  --padding-37xl: 56px;
  --padding-2xl-4: 21.4px;
  --padding-17xl: 36px;
  --padding-12xs: 1px;
  --padding-11xs: 2px;
  --padding-19xl: 38px;
  --padding-42xl: 61px;
  --padding-xs: 12px;
  --padding-10xs: 3px;
  --padding-9xs: 4px;
  --padding-sm: 14px;
  --padding-57xl: 76px;
  --padding-20xl: 39px;
  --padding-15xl: 34px;
  --padding-130xl: 149px;
  --padding-31xl: 50px;
  --padding-6xl: 25px;
  --padding-66xl: 85px;
  --padding-151xl: 170px;
  --padding-mini-5: 14.5px;
  --padding-base-1: 16.1px;
  --padding-14xl: 33px;
  --padding-11xs-5: 1.5px;
  --padding-smi-5: 12.5px;
  --padding-6xs-5: 6.5px;
  --padding-6xs: 7px;
  --padding-4xs-4: 8.4px;
  --padding-5xs: 8px;
  --padding-6xs-2: 6.2px;
  --padding-10xs-9: 2.9px;
  --padding-11xs-1: 1.1px;
  --padding-7xs: 6px;
  --padding-2xs: 11px;
  --padding-4xs-5: 8.5px;
  --padding-48xl-5: 67.5px;
  --padding-base-2: 16.2px;

  /* Border radiuses */
  --br-3xs: 10px;
  --br-41xl: 60px;
  --br-xl: 20px;
  --br-2xs-9: 10.9px;
  --br-52xl-8: 71.8px;
  --br-60xl: 79px;
  --br-47xl: 66px;
  --br-21xl: 40px;
  --br-39xl: 58px;
  --br-6xs-8: 6.8px;
  --br-95xl: 114px;
  --br-mini: 15px;
  --br-7xs: 6px;
  --br-12xl: 31px;
  --br-8xs: 5px;
  --br-5xs-6: 7.6px;
  --br-5xs: 8px;
}
